body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

.navbar {
    position: relative;
    z-index: 1;
}

.navbar-nav,
.nav-link {
    font-weight: 500;
    font-size: 18px;
    color: #ffffff !important;
    padding: 8px;
    margin-left: 1rem;
    text-shadow: 1px 1px 1px rgba(0.5, 0.5, 0.5, 0.7);
}

.dropdown-menu {
    text-shadow: none;
}

.omi {
    background-image: linear-gradient(to right, rgb(41, 189, 245), rgb(21, 146, 234));
    border-radius: 30px;
    width: 114px;
    height: 41px;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    margin-left: 1rem;
}

.hero {
    background-image: url(/img/background.jpg);
    height: 656px;
    margin-top: -75px;
}

.hero .container {
    margin-top: 80px;
    color: #ffff;
    font-weight: 500;
    font-size: 48px;
    text-align: start;
    position: relative;
    z-index: 1;
}

.display-4 {
    margin-left: 50%;
    font-weight: 500;
    font-size: 48px;
    margin-top: 10%;
}

.tagar {
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
    margin-left: 50%;
    margin-top: 20px;
}

.hero::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(36, 36, 36, 0));
    position: absolute;
    bottom: 0;
}

.about {
    background-image: linear-gradient(to right, rgb(41, 189, 245), rgb(21, 146, 234));
    margin-top: -33px;
}

.about h2 {
    font-weight: 500;
    font-size: 36px;
    color: #ffffff;
    margin-left: 50%;
}

.about p {
    font-weight: 100;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-left: 50%;
}

.about-button {
    margin-left: 50%;
    background-image: linear-gradient(to right, rgb(41, 189, 245), rgb(21, 146, 234));
    font-size: 15px;
    width: 160px;
    height: 42px;
    border-radius: 30px;
    border: none;
}

.manfaat {
    margin-top: 70px;
}

.manfaat h1 {
    font-weight: 500;
    font-size: 36px;
    color: #152C5B;
    text-align: center;
}

.garis-bawah-manfaat {
    width: 177px;
    height: 0px;
    border: 3px solid #138EE9;
    border-radius: 6px;
    margin-top: 10px;
    margin-left: 42%;
}

.manfaat h6 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #152C5B;
    text-align: center;
    margin-top: 20px;
}

.manfaat p {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #C4C4C4;
    margin-top: 20px;
}

.manfaat img {
    width: 120px;
    margin-left: 35%;
    margin-top: 40px;
}

/* Ukuran Mobile */
@media only screen and (max-width: 768px) {
    .navbar {
        background-image: linear-gradient(to right, rgb(41, 189, 245), rgb(21, 146, 234));
    }

    .dropdown-menu {
        border-radius: 8px;
        width: 50%;
    }

    .nav-link {
        margin-left: 0rem;
    }

    .omi {
        display: none;
    }

    .hero {
        height: 647px;
        margin-top: 0px;
        background-image: url(/img/background-mobile\ 2.jpg);
    }

    .hero::after {
        display: none;
    }

    .hero .container {
        margin-top: 40%;
    }

    .display-4 {
        text-align: center;
        margin-left: 0px;
        font-weight: 500;
        font-size: 28px;
        margin-top: 0px;
    }

    .tagar {
        font-size: 30px;
        margin-left: 0px;
        text-align: center;
        margin-top: 10px;
    }

    .about h2 {
        margin-left: 0px;
    }

    .about p {
        margin-left: 0;
    }

    .about-button {
        margin-left: 0;
        margin-top: 20px;
        border: none;
    }

    .garis-bawah-manfaat {
        margin-left: 31%;
    }
}

/* di ukuran mobile navbar tidak transparan */